.edit-icon{
  font-size: 28px;
}

.rn-home-navbar{

  background-color: #7CCBFF;

  .header-search {
    width: 230px;
    background-color: white;
    border-radius: 10px;

    .am-input-label {
      color: #FFC039;
      width: 25px;
    }

    .search-icon {
      height: 15px;
      width: 15px;
      background-size: cover;
    }
  }


}