.overall {

  padding-top: 45px;
  background-color: white;


  .hot-search {

    .hot-search-list{
      padding: 0 20px;
      font-size: 14px;
    }

    h1{
      font-size: @fontSize2;
      margin-left: 15px;
      color: @fontColor2;
    }
    .hot-search-icon{
      color: red;
      padding-right: 5px;
    }
    span{
      display: inline-block;
      background-color: @themeColor3;
      border-radius: 40px;
      margin-left: 10px;
      margin-top: 10px;
      padding: 5px 10px;
      color:white;

    }
  }


  .history-search{
    margin-top: 30px;

    h1{
      font-size: @fontSize2;
      margin-left: 15px;
      color: @fontColor2;
    }

    i {
      color: @themeColor2;
      padding-right: 15px;
    }


    .am-list-item {
        height:40px;
        padding-left: 30px;
      .am-list-content{
        font-size: @fontSize3;
        color: @fontColor2;
      }
    }






    .close{
      position: absolute;
      right: 10px;
      width: 44px;
    }
  }

}