
.reply {

  .content {
    padding-top: 45px;
    h3 {
      margin-left: 10px;
    }
    textarea {
      border: 1px solid #ecedf0;
    }
    .am-textarea-control {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-top: 10px;
      padding-bottom: 9px;
      padding-right: 15px;
    }
  }


  .img-d{
    margin-top: 100px;
    text-align: center;

  img{
    width: 340px;
    height: 200px;
    margin-left: 20px;

  }
  }
}
