
.reply {

  .content {
    padding-top: 65px;

    textarea {
      border: 1px solid #ecedf0;
    }

    .am-list-item {
      padding-left: 15px;
      padding-right: 15px;
    }
    .am-textarea-count {
      right: 20px;
      bottom: 12px;
    }
  }


  .img-d{
    margin-top: 60px;
    text-align: center;

    img{
      width: 80%;
    }

  }
}
