
.edit-icon{
  font-size: 28px;
}

.header-search {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;

  .search-icon {
    height: 15px;
    width: 15px;
    background-size: cover;
  }
}

.list-item {
  height:100px;
  padding: 10px;

  .am-flexbox{
    font-size: 12px;
    height:80px;
    overflow: hidden;
    //text-overflow: ellipsis;
    //display: -webkit-box; //将元素设为盒子伸缩模型显示
    -webkit-box-orient: vertical; //伸缩方向设为垂直方向
    -webkit-line-clamp: 2;  //超出3行隐藏，并显示省略号
  }

  .list-item-img {
    margin-left: 10px;
    width:120px;
    height:80px;
    overflow: hidden;
  }

}

