
.login-header {
  font-size: 22px;
  line-height: 90px;
  height: 90px;
  color: #3080FE;
  text-align: center;
  position: relative;
}

.login-center {

  padding-left: 30px;
  padding-right: 30px;

  .login-input {
    border-bottom: 1px;
    border-bottom-color: #cccccc;

    .left-icon {
      height: 22px;
      width: 22px;
      background-size: cover;
    }

  }


  .login-button {

    margin-top: 60px;

    background-color: #3080FE;;


  }

}

.nowRegister{
  text-align: center;
  font-size: 35px;
  margin-top: 35px;
  color: #cccccc;

}