.login-div {
  background-color: white;



  .login-header {
    font-size: 28px;
    line-height: 90px;
    height: 90px;
    color: @themeColor;
    text-align: center;
    position: relative;
  }

  .login-center {

    padding-left: 30px;
    padding-right: 30px;

    .am-input-label {
      width: 25px;
      color: @themeColor2;
    }

    .login-input {
      border-bottom: 1px;
      border-bottom-color: #cccccc;

      .left-icon {
        height: 22px;
        width: 22px;
        background-size: cover;
      }

    }
    .login-check {
      font-size: 12px;
    }

    .login-button {
      margin-top: 60px;
      background-color: @themeColor3;


    }

  }

  .nowRegister{
    text-align: center;
    font-size: 14px;
    margin-top: 35px;
    color: #cccccc;

  }

}

