
.posttheme{

  h3{
    color: #696969;
    margin-left: 10px;
  }

  .release{
    input{
      border: 1px solid #ecedf0;
    }
  }


  .content{
    textarea{
      border: 1px solid #ecedf0;
      width:343px;
      margin-bottom: 13px;
    }
  }

  .uploadImg{
    margin-top: -15px;
    .img{
      width:55px;
      margin-left: 20px;
    }



  }



}