
.posttheme{
  .padding-div {
    padding-top: 40px;
  }
  h3{
    color: #696969;
    margin-left: 10px;
  }

  .release{
    input{
      border: 1px solid #ecedf0;
    }
  }

  .content{
    textarea{
      border: 1px solid #ecedf0;
      margin-bottom: 13px;
    }
    .am-textarea-control {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-top: 10px;
      padding-bottom: 9px;
      padding-right: 15px;
    }
  }

  .uploadImg{
    margin-top: -15px;
    .img{
      width:55px;
      margin-left: 20px;
    }



  }



}